*{
    margin: 0;
    padding: 0;
    color: #E73F46;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
 body {
    width: 100%;
} 

.nav-bar {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    background: #000000b6;
    box-shadow: 0px 20px 22px -1px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
   
        .logo{
                width: 80px;
                height: 80px;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #e73f4500;
                background-image: url(../src/og_imagem.jpg);
             }
             .list {
                list-style: none;
                display: flex;
                gap: 25px;
                li {
                    padding-left: 20px;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 25px;

                    a { 
                        font-size: 17px;
                        text-decoration: none;
                        color:  rgb(255, 255, 255);
                        font-family: 'Roboto Mono', monospace;

                        
                    }
                    a:hover {
                        font-size: 18px;
                        transition: 0.5s ease-in-out;
                        color: #b8b6b3;
                    }
                }


            }

            #btn-mobile{
                display: none;
            }
    
}

.home {
 
    background-color: #F6F3EE;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    .mulher-coracao:hover{
            transition: 0.5s ease-in-out;
            width: 261px;
            height: 331px;
            cursor: pointer;
    }
    .tracos{
        position: absolute;
        top: 0;
        left: 0;
    }
    .left {
        margin-top: 120px;
    }
        .right {
           margin-top: 65px;
           .content {
             h1 {
                position: absolute;
                top: 28%;
                left: 68%;
                color: #F6F3EE;
                font-family: "Poppins", sans-serif;
                font-size: 24.5px;
                font-weight: bold;
             }
           }
                .escada{
                    position: absolute;
                    left: 68.5%;
                    bottom: 8%;
            
                }
        }
}

@media(max-width: 820px) {
    .home {
        .right {
            .content {
                h1{
                    font-size: 22.5px;
                    top: 36%;
                    left: 65%;
                }
                .escada {
                    top: 52%;
                    left: 65%;
                }
            }
        }
    }
}

@media(max-width: 600px){
    .home {
        .tracos {
            width: 150px;
            height: 150px;
        }
        .left {
            img{
                width: 200px;
                height: 250px;
            }
        }
        .right {
            .content{
                .escada {
                    width: 170px;
                    height: 180px;
                    left: 63%;
                    top: 58%;
                }
                .retangulo{
                    width: 200px;
                    height: 450px;
                }
                h1{
                    top: 28%;
                    left: 61.5%;
                    font-size: 21px;
                }
            }
        }
    }
    .nav-bar {
        width: 100%;
        height: 70px;
        .logo{
                height: 70px;
                width: 70px;
            
            }
        .list{
            li {
                a{
                    font-size: 15px;
                }
            }
        }
    }
    
}

@media(max-width: 450px) {
    .nav-bar{
        padding: 0;
        justify-content: space-between;
        .list {
            li {
                padding-left: 0;
                margin-right: 10px;
                a {
                    font-size: 12px;
                   
                }
                a:hover{
                    font-size: 16px;
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
            img {
                width: 140px;
                height: 180px;
            }
        }
        .right {
            .content {
                h1{
                    left: 53%;
                    top: 34%;
                }
                .escada {
                    top: 60%;
                    left: 51%;
                }
            }
        }
    }
}

.sobre{
    height: 100vh;
    width: 100vw;
    background-color: #F6F3EE;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    h3{
        font-family: "Poppins", sans-serif;
                font-size: 20.5px;
                font-weight: bold;
    }
    img{
        padding-top: 20px;
    }
    
}

@media(max-width: 600px) {
    .sobre{
        align-items: center;
        justify-content: space-evenly;
        gap: 35px;
        h3{
            font-size: 14px;
            font-family: 'Roboto Mono', monospace;
        }
        img{
            width: 225px;
            height: 170px;
        }
    }
}

@media(max-width: 450px) {
    .sobre {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    
        border: 1px solid green;
        padding-left: 5px;
        padding-right: 5px;
        img{
            width: 150px;
            height: 120px;
        }
        h3{
            font-size: 12px;
        }
    }
}

.politicas {
    height: 100vh;
    width: 100%;
    background-color: #F6F3EE;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper {
        border: 1px solid rgb(0, 0, 0);
        width: 50vw;
        height: 55vh;
        background-color: #2b2a2a;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        .swiper-wrapper{

            width: 25vw;
            height: 50vh;
            background-color: #2c2b2b;
            .swiper-slide{
                padding-top: 35px;
                height: 50vh;
                border: 1px solide rgb(31, 10, 13);
                background-color: #2b2a2a;
                h4{
                    color: #E73F46;
                    font-size: 20px;
                }
                p{
                    color: #F6F3EE;
                    font-family: 'Poppins', monospace;
                    font-size: 16px;
                    font-weight: bold;
                    padding-top: 15px;
                    }
            }
        }
        .swiper-button-prev{
            color: #F6F3EE;
        }
        .swiper-button-next {
            color: #F6F3EE;
        }
    }
}

@media(max-width: 600px) {
    .politicas{
        .swiper {
            width: 90vw;
            .swiper-wrapper{
                 width: 50vw;
                .swiper-slide {
                    h4{
                        font-size: 25px;
                    
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media(max-width: 450px){
    .politicas{
        padding-bottom:200px;
        .swiper{
            height: 35vh;
            .swiper-wrapper{
                .swiper-slide{
                    h4{
                        font-size: 18px;
                    }
                    P {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}